# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
venv/
ENV/
env/
build/
dist/
*.egg-info/
.eggs/
pip-log.txt
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Swift
.build/
.swiftpm/
*.xcodeproj/
*.xcworkspace/
DerivedData/
*.swiftinterface
*.swiftdoc
*.swiftsourceinfo
*.swiftdoc
*.swiftmodule

# General
.idea/
.vscode/
*.log
node_modules/

# Test files
test_input.txt
